{% extends 'base/base.html' %}

{% block content %}

<div class="bg-image" align="center">
  <div class="container">
    <div class="card border-0 shadow">
      <div class="card-body p-5">
        <h1 class="fw-light">Welcome to 
          <img src="{{ url_for('static', filename='imgs/QS.png') }}" style="width: 5em;" alt="Quizzing Spree">
          !</h1>
          <h3 class="fw-light m-3">
            A place for both <b>creating & solving</b> quizzes.
          </h3>
          <p class="lead">If you're looking for a site where you could create your own quizzes,
            or maybe you want to solve quizzes created by others -
          </p>
          <p class="lead">
              Well, you have come to the right place!
          </p>
          <div class="row gap-3">
            <div class="col">
              <img src="{{ url_for('static', filename='imgs/home/puzzle.png') }}" style="width: 5em; height:5em">
              <p>Create quizzes in variety of categories and 3 difficulty levels!</p>
            </div>
            <div class="col">
              <img src="{{ url_for('static', filename='imgs/home/choose.png') }}" style="width: 5em; height:5em">
              <p>Solve existing quizzes and test your knowledge!</p>
            </div>
            <div class="col">
              <img src="{{ url_for('static', filename='imgs/home/quiz.png') }}" style="width: 5em; height:5em">
              <p>Compete with others to be the best in the leaderboard!</p>
            </div>
          </div>
          <p class="lead">
            Click the register button to create an account, or login if you are already a part of the quizzing community. 
          </p>
          <div style="height: 50px"></div
            <div class="col-md-10 text-center mt-3">
              {% if current_user.is_authenticated %}
                <a class="btn btn-outline-success me-2" href="{{ url_for('auth.logout') }}">Create a Quiz</a>
              {% else %}
                <a class="btn btn-outline-primary me-2" href="{{ url_for('auth.register') }}">Register</a>
                <a class="btn btn-outline-success me-2" href="{{ url_for('auth.login') }}">Login</a>
              {% endif %}
            </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}