{% extends 'base/base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-primary">Start creating your quizzes today!</h1>
        <h4 class="col-md-6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nulla venenatis purus at nulla laoreet vehicula.
            Integer at imperdiet est, in elementum nunc.
            Fusce facilisis leo sed posuere blandit.
        </h4>
        <div class="col-md-10 text-center mt-3">
              {% if current_user.is_authenticated %}
                <a class="btn btn-success me-2" href="{{ url_for('auth.logout') }}">Create a Quiz</a>
              {% else %}
                <a class="btn btn-primary me-2" href="{{ url_for('auth.register') }}">Register</a>
                <a class="btn btn-success me-2" href="{{ url_for('auth.login') }}">Login</a>
              {% endif %}
        </div>
    </div>
{% endblock %}