.footer {
    font-family: 'Comfortaa';
}

.footer h5 {
    font-size: medium;
}

.footer img {
    height: 25px;
    width: 25px;
    opacity: 0.8;
}

.footer .container {
    align-content: center;
    margin-top: 0.5rem;
} 