.navbar {
    font-family: 'Comfortaa';
    width: 100%;
    position: static;
    top: 0;
}

.nav-pills .nav-link.active {
    background-color: rgba(255, 255, 255, 0.0);
    text-decoration: underline;
}

.btn.active {
    background-color: rgba(255, 255, 255, 0.0);
    color: rgb(0, 0, 0);
    text-decoration: underline;
}