{% extends 'base/base.html' %}

{% block content %}

    <div class="container card border-0 shadow mt-5" align="left">
        <form id="quiz_create_form" method="POST">
            <!--
                Quiz form
            -->
            {{ form.csrf_token }}
            <h1 class="mb-5 mt-3 fw-light">Create a new Quiz</h1>
            <div class="mb-3">
                <label for="titleInput">{{form.title.label}}</label>
                {{form.title(class="form-control", id="titleInput")}}
                <div id="titleHelp" class="form-text">Enter your quiz title here</div>
            </div>
            <div class="mb-3">
                <label for="categoryInput">{{form.category.label}}</label>
                {{form.category(class="form-select")}}
                <div id="categoryHelp" class="form-text">Choose the category</div>
            </div>
            <div class="mb-3">
                <label for="descInput">{{form.description.label}}</label>
                {{form.description(class="form-control", id="descInput")}}
                <div id="usernameHelp" class="form-text">Short description of your quiz</div>
            </div>

            <div id="question-container" class="mt-3">
                {% with question_form=form.questions[0] %}
                    {% include 'quiz/partials/new_question.html' %}
                {% endwith %}
            </div>
            <div class="d-flex justify-content-md-end">
                <input class="btn btn-lg btn-outline-success" type="submit" value="Create Quiz">
            </div>
            <button class="btn btn-outline" id="question-add-btn">
                <i class="bi bi-plus-square"></i> Add question
            </button>
        </form>

        <div class="visually-hidden" id="question-template-container">

        </div>
    </div>

{% endblock %}

{% block scriptextras %}
    <script src="{{ url_for('static', filename='js/generator/managers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/generator/managables.js') }}"></script>
{% endblock %}