{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <form method="post">
        <!-- CSRF TOKEN ISSUE -->
        <div class="mb-3">
            <label for="titleInput">Quiz Title</label>
            <input type="text" id="titleInput" class="form-control">
            <div id="titleHelp" class="form-text">Enter you quiz title</div>
        </div>

        <div class="mb-3">
            <select class="form-select" aria-label="Default select example">
                    <option selected>Pick Quiz Category</option>
                {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                {% endfor %}
            </select>
        </div>


        <div class="mb-3">
            <label for="descInput">Description</label>
            <textarea id="descInput" class="form-control"></textarea>
            <div id="usernameHelp" class="form-text">Short description of your quiz</div>
        </div>

        <div class="mt-3">
            <h3>Questions: </h3>
            <div class="visually-hidden" id="question_template">
                {% include 'quiz/forms/quiz_creation/new_question.html' %}
            </div>
            <div id="question-container">

            </div>
            <div class="row g-0 mt-5">
              <div class="col-sm-6 col-md-12 bg-primary p-2 text-dark bg-opacity-50 text-center rounded-pill"
                    id="question-add-btn">
                  <h1 class="bi bi-plus-square">    Add question</h1>
              </div>
            </div>
    </form>
</div>


{% endblock %}

{% block scriptextras %}
    <script src="{{ url_for('static', filename='js/form_generator.js') }}"></script>
{% endblock %}