{% extends 'base/base.html' %}

{% block content %}
<div class="bg-image" align="center">
    <div class="container card border-0 shadow mt-5">
        <!-- Rows of quizzes with their metadata -->
        <div class="row hstack gap-3 border border-light border-4" align="left">
            <div class="col-6 col-md-4 border-4">
              <img src="{{ url_for('static', filename='imgs/puzzle-piece.png') }}">
            </div>

            <div class="col-sm-6 col-md-8">
                <div class="container mt-3">
                    <h3>Da first quiz</h3>
                    <div class="mt-2">
                       Quiz so hard that you better off go and cry in bed you lame 🧠🤯
                    </div>
                    <div class="mt-4">
                        <h5 class="w-25 d-inline-block">Author: Anonymous</h5>

                        <div class="d-grid gap-2 d-md-flex me-4">
                          <button class="btn btn-lg btn-success" type="button">Start</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="pagination" class="mt-5">
            <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>

    </div>
</div>
{% endblock %}