body {
    max-width: 1920px;
    margin: 0 auto;
}

.bg-image {
    background-image: url('https://wallpapersmug.com/download/1920x1080/4d7d03/light-colors-geometric-pattern-abstract.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 1080px;
    padding: 2rem;
}

.container {
    align-content: center;
    margin-top: 3.5rem;
}

.btn, .pagination {
    font-family: 'Comfortaa';
}

.lead, .fw-light {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.row p {
    margin: 2em;
}

.row img {
    height: 100px;
    width: 100px;
    margin: 1em;
}

.card-img-top {
    width: fit-content;
    height: fit-content;
    z-index: 1100;
}