{% extends 'base/base.html' %}

{% block content %}
    <div class="container mt-3">
        <h1>Login into your account</h1>
        <form method="post">
            {{ form.csrf_token }}

            <div class="mb-3">
                <label for="usernameInput">{{form.username.label(class="form-label")}}</label>
                {{form.username(class="form-control", id="usernameInput")}}
                <div id="usernameHelp" class="form-text">This username will be visible for other users.</div>
            </div>

            <div class="mb-3">
                <label for="passwordInput">{{form.password.label(class="form-label")}}</label>
                {{form.password(class="form-control", id="passwordInput")}}
                <div id="passwordHelp" class="form-text">#TODO</div>
            </div>

            <div class="form-check">
                {{form.remember_me(class="form-check-input", id="flexCheckDefault")}}
                {{form.remember_me.label(class="form-check-label", for="flexCheckDefault")}}
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <input type="submit" value="Login" class="btn btn-outline-success">
            </div>

        </form>
    </div>

{% endblock %}
